{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>{{title}}</title>
{% endblock title %}

{% block main %}
<main>
    <!-- page__title-start -->
    <section class="page__title p-relative d-flex align-items-center" data-background="assets/img/bg/page-title-1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page__title-inner text-center">
                        <h1>About Us</h1>
                        <div class="page__title-breadcrumb">                                 
                            <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">About Us</li>
                            </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- page__title-end -->

    <!-- about__history-start -->
    <section class="about__history pt-95 pb-75">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-8 col-xl-10">
                    <div class="about__history-wrapper">
                        <div class="about__history-title-area">
                            <span class="about__history-title-pre">Our History</span>
                            <h3 class="about__history-title">
                                <span>Hello, We are Black.</span> <br>
                                With 20+ Years of Experience
                            </h3>
                        </div>
                        <p class="about__history-text">It is accompanied by a case that can contain up to three different diffusers and can be used for dry storage of loose tea. The perfect way to enjoy brewing tea on low hanging fruit to identify. Lighting is a minimal residence located in Tokyo, Japan, designed by AYO. Large tiles were arranged on the counter top plate near the window.</p>

                        <p>The perfect way to enjoy brewing tea on low hanging fruit to identify. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis. For me, the most important part of improving at photography has been sharing it. Sign up for an Exposure account, or post regularly to Tumblr, or both. Tell people you’re trying to get better at photography. Talk about it. When you talk about it, other people get excited about it. There are few plugins and apps available for this purpose, many of them required a monthly subscription.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about__history-end -->

    <!-- about__gallery-start -->
    <section class="about__gallery">
        <div class="container">
            <div class="row gx-2">
                <div class="col-xxl-8 col-xl-8 col-lg-8">
                    <div class="about__gallery-wrapper text-center ">
                        <div class="about__gallery-review include-bg mb-8" data-background="assets/img/about/about-img-1.jpg" style="background-image: url(&quot;assets/img/about/about-img-1.jpg&quot;);">
                            <h3>Alex Christopher</h3>
                            <span>PHOTOGRAPHER</span>
                            <p>Being a designer goes a step further than trying to evoke emotion, it’s trying to make a reaction. It is objective-driven, and that’s what makes it interesting. Designing a product is designing a relationship. Graphic design is the paradise of individuality, eccentricity, heresy, abnormality, hobbies, and humor.</p>

                            <img src="{% static 'img/about/singature.png' %}" alt="" class="about__signature">
                        </div>
                        <div class="row gx-2">
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <div class="about__gallery-thumb w-img mb-10">
                                    <img src="{% static 'img/about/about-img-3.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                <div class="about__gallery-thumb w-img mb-10">
                                    <img src="{% static 'img/about/about-img-4.jpg' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4">
                    <div class="about__gallery-thumb mb-8 w-img">
                        <img src="{% static 'img/about/about-img-2.jpg' %}" alt="">
                    </div>
                    <div class="about__gallery-thumb w-img">
                        <img src="{% static 'img/about/about-img-5.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about__gallery-end -->

    <!-- features__area start -->
    <section class="features-2__area mt-90 pb-85">
        <div class="container">
            <div class="row gx-0">
                <div class="col-xxl-4 offset-xxl-2 col-xl-5 offset-xl-1 col-lg-5 offset-lg-1 col-md-6">
                    <div class="features-2__item-2 features-2__item-pb-40 features-2__item-br features-2__item-bb text-center">
                        <div class="features-2__icon-2">
                            <img src="{% static 'img/icon/trophy.png' %}" alt="">
                        </div>
                        <div class="features-2__content-2">
                            <h3 class="features-2__title-2">20+ Years of Experience</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab illo</p>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6">
                    <div class="features-2__item-2 features-2__item-pb-40 features-2__item-bb text-center">
                        <div class="features-2__icon-2">
                            <img src="{% static 'img/icon/user.png' %}" alt="">
                        </div>
                        <div class="features-2__content-2">
                            <h3 class="features-2__title-2">20+ Years of Experience</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab illo</p>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 offset-xxl-2  col-xl-5 offset-xl-1 col-lg-5 offset-lg-1 col-md-6">
                    <div class="features-2__item-2 features-2__item-pt-65 features-2__item-br text-center">
                        <div class="features-2__icon-2">
                            <img src="{% static 'img/icon/like.png' %}" alt="">
                        </div>
                        <div class="features-2__content-2">
                            <h3 class="features-2__title-2">20+ Years of Experience</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab illo</p>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-5  col-lg-5  col-md-6">
                    <div class="features-2__item-2 features-2__item-pt-65 text-center">
                        <div class="features-2__icon-2">
                            <img src="{% static 'img/icon/pen.png' %}" alt="">
                        </div>
                        <div class="features-2__content-2">
                            <h3 class="features-2__title-2">20+ Years of Experience</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab illo</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- features__area end -->

    <!-- about__offer start -->
    <section class="about__offer pt-155 pb-130 include-bg" data-background="assets/img/bg/about-bg-1.jpg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xxl-8 col-xl-8 col-lg-10">
                    <div class="about__offer-content text-center">
                        <div class="about__offer-icon mb-20">
                            <img src="{% static 'img/icon/ship.png' %}" alt="">
                        </div>
                        <h3>All Orders Are Free Shipping</h3>
                        <p>Donec vehicula cursus vestibulum lectus, sit eros integer varius cum turpis et quam congue <br> accumsan ac bibendum ac in erat. Donec posuere consectetuer volutpat rutrum ac sollicitudin quam quisque at interdum dignissim fringilla elit risus lorem condimentum eros mollis. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about__offer end -->

    <!-- team-area start -->
    <div class="team-area pt-95 pb-65">
        <div class="container">
           <div class="row mb-10">
              <div class="col-12">
                 <div class="sec-wrapper text-center">
                    <h5>Our Team</h5>
                    <h2 class="absection-title">Expert Members.</h2>
                 </div>
              </div>
           </div>
           <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6">
                 <div class="tpteam text-center mb-30">
                    <div class="tpteam__img">
                       <img src="{% static 'img/team/team-member-1.jpg' %}" alt="">
                       <div class="tpteam__social">
                          <a href="#"><i class="fab fa-facebook-f"></i></a>
                          <a href="#"><i class="fab fa-twitter"></i></a>
                          <a href="#"><i class="fab fa-behance"></i></a>
                          <a href="#"><i class="fab fa-pinterest"></i></a>
                          <a href="#"><i class="fab fa-linkedin"></i></a>
                       </div>
                    </div>
                    <div class="tpteam__text">
                       <h3 class="tpteam-title"><a href="about.html">Iqbal Hossain</a></h3>
                       <h5>Designer</h5>
                    </div>
                 </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="tpteam text-center mb-30">
                   <div class="tpteam__img">
                      <img src="{% static 'img/team/team-member-2.jpg' %}" alt="">
                      <div class="tpteam__social">
                         <a href="#"><i class="fab fa-facebook-f"></i></a>
                         <a href="#"><i class="fab fa-twitter"></i></a>
                         <a href="#"><i class="fab fa-behance"></i></a>
                         <a href="#"><i class="fab fa-pinterest"></i></a>
                         <a href="#"><i class="fab fa-linkedin"></i></a>
                      </div>
                   </div>
                   <div class="tpteam__text">
                      <h3 class="tpteam-title"><a href="about.html">Hilixa Maria</a></h3>
                      <h5>Designer</h5>
                   </div>
                </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="tpteam text-center mb-30">
                   <div class="tpteam__img">
                      <img src="{% static 'img/team/team-member-3.jpg' %}" alt="">
                      <div class="tpteam__social">
                         <a href="#"><i class="fab fa-facebook-f"></i></a>
                         <a href="#"><i class="fab fa-twitter"></i></a>
                         <a href="#"><i class="fab fa-behance"></i></a>
                         <a href="#"><i class="fab fa-pinterest"></i></a>
                         <a href="#"><i class="fab fa-linkedin"></i></a>
                      </div>
                   </div>
                   <div class="tpteam__text">
                      <h3 class="tpteam-title"><a href="about.html">Willamson Hilai</a></h3>
                      <h5>Developer</h5>
                   </div>
                </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="tpteam text-center mb-30">
                   <div class="tpteam__img">
                      <img src="{% static 'img/team/team-member-4.jpg' %}" alt="">
                      <div class="tpteam__social">
                         <a href="#"><i class="fab fa-facebook-f"></i></a>
                         <a href="#"><i class="fab fa-twitter"></i></a>
                         <a href="#"><i class="fab fa-behance"></i></a>
                         <a href="#"><i class="fab fa-pinterest"></i></a>
                         <a href="#"><i class="fab fa-linkedin"></i></a>
                      </div>
                   </div>
                   <div class="tpteam__text">
                      <h3 class="tpteam-title"><a href="about.html">Limonda Pwedie</a></h3>
                      <h5>UX Designer</h5>
                   </div>
                </div>
                </div>
           </div>
        </div>
     </div>
    <!-- team-area end -->
    
    <!-- shop modal start -->
    <div class="modal fade" id="productModalId" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered product__modal" role="document">
            <div class="modal-content">
                <div class="product__modal-wrapper p-relative">
                    <div class="product__modal-close p-absolute">
                        <button data-bs-dismiss="modal"><i class="fal fa-times"></i></button>
                    </div>
                    <div class="product__modal-inner">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="product__modal-box">
                                    <div class="tab-content" id="modalTabContent">
                                        <div class="tab-pane fade show active" id="nav1" role="tabpanel" aria-labelledby="nav1-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="{% static 'img/products/quick-view/quick-view-1.jpg' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav2" role="tabpanel" aria-labelledby="nav2-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="{% static 'img/products/quick-view/quick-view-2.jpg' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav3" role="tabpanel" aria-labelledby="nav3-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="{% static 'img/products/quick-view/quick-view-3.jpg' %}" alt="">
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav4" role="tabpanel" aria-labelledby="nav4-tab">
                                            <div class="product__modal-img w-img">
                                                <img src="{% static 'img/products/quick-view/quick-view-4.jpg' %}" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="nav nav-tabs" id="modalTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="nav1-tab" data-bs-toggle="tab" data-bs-target="#nav1" type="button" role="tab" aria-controls="nav1" aria-selected="true">
                                                <img src="{% static 'img/products/quick-view/nav/quick-nav-1.jpg' %}" alt="">
                                        </button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="nav2-tab" data-bs-toggle="tab" data-bs-target="#nav2" type="button" role="tab" aria-controls="nav2" aria-selected="false">
                                            <img src="{% static 'img/products/quick-view/nav/quick-nav-2.jpg' %}" alt="">
                                        </button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="nav3-tab" data-bs-toggle="tab" data-bs-target="#nav3" type="button" role="tab" aria-controls="nav3" aria-selected="false">
                                            <img src="{% static 'img/products/quick-view/nav/quick-nav-3.jpg' %}" alt="">
                                        </button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="nav4-tab" data-bs-toggle="tab" data-bs-target="#nav4" type="button" role="tab" aria-controls="nav4" aria-selected="false">
                                            <img src="{% static 'img/products/quick-view/nav/quick-nav-4.jpg' %}" alt="">
                                        </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="product__modal-content">
                                <h4 class="product__modal-title"><a href="product-details.html">Samsung C49J89: £875, Debenhams Plus</a></h4>
                                <div class="product__modal-des mb-40">
                                    <p>Typi non habent claritatem insitam, est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt </p>
                                </div>
                                <div class="product__modal-stock">
                                    <span>Availability :</span>
                                    <span>In Stock</span>
                                </div>
                                <div class="product__modal-stock sku mb-30">
                                    <span>SKU:</span>
                                    <span>Samsung C49J89: £875, Debenhams Plus</span>
                                </div>
                                <div class="product__modal-review d-sm-flex">
                                    <div class="rating mb-15 mr-35">
                                    <ul>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                    </ul>
                                    </div>
                                    <div class="product__modal-add-review mb-15">
                                    <span><a href="#">1 Review</a></span>
                                    <span><a href="#">Add Review</a></span>
                                    </div>
                                </div>
                                <div class="product__modal-price">
                                    <span>$560.00</span>
                                </div>
                                <div class="product__modal-form mb-30">
                                    <form action="#">
                                    <div class="pro-quan-area d-lg-flex align-items-center">
                                        <div class="product-quantity mr-20 mb-25">
                                            <div class="cart-plus-minus p-relative"><input type="text" value="1" /></div>
                                        </div>
                                        <div class="pro-cart-btn mb-25">
                                            <button class="add-to-cart-btn" type="submit">Add to cart</button>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                                <div class="product__modal-links">
                                    <ul>
                                    <li><a href="#" title="Add to Wishlist"><i class="fal fa-heart"></i></a></li>
                                    <li><a href="#" title="Compare"><i class="far fa-sliders-h"></i></a></li>
                                    <li><a href="#" title="Print"><i class="fal fa-print"></i></a></li>
                                    <li><a href="#" title="Print"><i class="fal fa-share-alt"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- shop modal end -->

</main>
{% endblock main %}